[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
websockets = "*"
uvicorn = "*"
python-dotenv = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
coverage = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.13"
