<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモンポケット</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>ポケモンポケット</h1>
        <div class="button-container">
            <button id="deck-list-button" class="main-button">デッキ一覧</button>
            <button id="deck-button" class="main-button">デッキ構築</button>
            <button id="match-button" class="main-button">マッチング</button>
        </div>
    </div>
    <script src="/static/js/main.js?v=1"></script>
</body>
</html>
